<%- include ('./partials/header.html') %>

<nav>
    <a href="https://stanbankras.github.io/human-centered-design-2021/prototypes-w-2/">Terug naar alle projecten</a>
    <button id="option5" class="active">home layout 1</button>
    <button id="option6">home layout 2</button>
    <!-- <button id="option3" class="active">Text option 1</button> -->
    <!-- <button id="option4">Text option 2</button> -->
</nav>

<header id="home">
    <h1>Goedemiddag Darice!</h1>
    <p>Hier zijn een aantal podcasts die je kunt lezen.</p>
</header>

<main id="overview">
    <% data.forEach(item => { %>
    <a href="<%= item.year %>/<%= item.month %>/<%= item.day %>/<%= item.url %>">
        <h2><%= item.guest %> <span><%= item.job %></span></h2>
        <p><%= item.date %></p>
    </a>
    <% }); %>
</main>

<%- include ('./partials/footer.html') %>