<%- include ('./partials/header.html') %>

<nav>
    <a href="https://stanbankras.github.io/human-centered-design-2021/prototypes-w-3/">Terug naar alle projecten</a>
    <!-- <button id="option1" class="active">Header 1</button> -->
    <!-- <button id="option2">Header 2</button> -->
    <div>
        <button id="option3" class="active">Text option 1</button>
        <button id="option4">Text option 2</button>
    </div>
    <div>
        <button id="option8" class="active">Stop text flow</button>
        <button id="option9">Text flow with spacebar</button>
        <button id="option7">Auto text flow</button>
    </div>
</nav>

<header id="articlehead">
    <h1><%- header %></h1>
    <blockquote><%- blockquote %></blockquote>
</header>

<main id="podcast">
    <aside>
        <h3>Handige links</h3>
        <ul><%- aside %></ul>
    </aside>
    <section><%- text %></section>
    <a href="/">Terug naar home</a>
</main>

<%- include ('./partials/footer.html') %>