<%- include ('./partials/header.html') %>

<nav>
    <a href="https://stanbankras.github.io/human-centered-design-2021/prototypes-w-2/">Terug naar alle projecten</a>
    <button id="option1" class="active">Site buttons 1</button>
    <button id="option2">Site buttons 2</button>
    <button id="option3" class="active">Text option 1</button>
    <button id="option4">Text option 2</button>
</nav>

<header id="home">
    <h1><%- header %></h1>
    <blockquote><%- blockquote %></blockquote>
</header>

<main id="podcast">
    <aside>
        <h3>Handige links</h3>
        <ul><%- aside %></ul>
    </aside>
    <section><%- text %></section>
    <a href="/">Terug naar home</a>
</main>

<%- include ('./partials/footer.html') %>